<header class="header">
    <nav>
        <ul class="nav">
            <li><a class="Home" [routerLink]="['/']" routerLinkActive="active">Home></a></li>
            <li><a class="About" [routerLink]="['/about']" routerLinkActive="active">About</a></li>
            <li><a class="Contact" [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
            <li><a class="Projects" [routerLink]="['/projects']" routerLinkActive="active">Projects</a></li>
        </ul>
    </nav>
    <h1 class="name">Hubert Kosturkiewicz</h1>
    <h2 class="title">Frontend Developer</h2>
    <div class="socials">
        <a href="https://www.linkedin.com/in/hubertkosturkiewicz/" rel="noopener" target="_blank">
            <img class="linkedIn" src="/assets/img/socials/circle-linkedin-512.webp" alt="LinkedIn">
        </a>
        <a href="https://github.com/kostiimon" rel="noopener" target="_blank">
            <img class="gitHub" src="/assets/img/socials/github-color.svg" alt="GitHub">
        </a>
        <a href="mailto:Hubert.Kosturkiewicz@icloud.com">
            <img class="mail" src="/assets/img/socials/mail.png" alt="E-mail">
        </a>
    </div>
</header>